.container {
  max-width: 980px;
  height: auto;
  margin: 0 auto;
  width: 100%;
}
body {
  background-color: rgb(235, 226, 226);
  font-family: "Helvetica";
}
.button {
  min-width: 80px;
  font-family: inherit;
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #4676d7;
  color: #fff;
  padding: 8px 16px;
  font-size: 1rem;
  cursor: pointer;
  margin-left: 5px;
  margin-top: 10px;
}
.button:hover {
  background: #1d49aa;
}
.button[disabled] {
  color: #d2d5db;
  background: #6c7589;
  cursor: not-allowed;
}
/* ==== Pagination =====*/
.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-weight: 500;
  font-size: 15px;
}
.pagination-container a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  height: 40px;
  width: 40px;
  text-decoration: none;
  transition: background-color 0.2s;
  border: 1px solid rgb(146, 142, 142);
  cursor: pointer;
}
.pagination-container a.active {
  background-color: #007bff;
  color: white;
  border: 1px solid #7cbddb;
}
.pagination-container a.disabled {
  opacity: 0.2;
}
.pagination-container a:hover:not(.active) {
  background-color: rgb(238, 238, 238);
}
